.pro-container{
    width: 70%;
    margin: auto;
}
.projects{
    margin-top:7%;
}
.pro-title{
    font-size: 40px;
    text-align: center;
}
.pro-info{
    display: grid;
    justify-content: center;
}
.pro-box{
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    width: 180px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 3rem 3rem 3rem 3rem;
    border-radius: 1.25rem;
    justify-content: center;
    align-items: center;
    position: relative;
}
.pro-box:hover {
    transform: translateY(-10%); /* Adjust the percentage as needed */
    transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.x{
    margin-top: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.btnp{
    color: aliceblue;
    padding-left: 15%;
}
@media screen and (max-width:769px){
    .x{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width:500px){
    .x{
        grid-template-columns: 1fr;
    }
}
