.skills-container {
    margin-top: 2% !important;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 65%;
    margin: auto;
}
.skills-content {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
}

.skills-title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.skills-box {
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.skills-group {
    display: grid;
    align-items: flex-start;
}

.skills-data {
    display: flex;
    align-items: center;
}

.skills{
    text-align: center;
    margin-bottom: 10%;
    margin-top: 10%;
}

.skills-name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 100%;
    padding-left: 5px;
}

.skills-level {
    font-size: var(--smaller-font-size);
}

/* BREAK POINTS */
@media screen and (max-width: 1025px) {
   .skills-container {
    width: 80%;
   }
}

@media screen and (max-width: 769px) {
    .skills-content {
        padding: 3.5rem;
    }
    .skills-container {
        display: grid;
        padding: 2rem;
    }
    .skills-content{
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 426px) {
    .skills-content{
        padding: 1rem 2rem;
    }
    .skills-box {
        column-gap: 1.5rem;
    }
    .skills-name {
        font-size: var(--small-font-size);
    }
}
@media screen and (max-width:326px){
    .skills-container{
        margin-left: 15px;
        padding: 0;
    }
}