.header {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
}
.h-container{
    width: 70%;
    margin: auto;
}
.nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo, .nav-toggle {
    color: black;
    padding-bottom: 10px;
    font-size: large;
    font-style: italic;
}

.nav-list {
    display: flex;
    column-gap: 1rem;
    list-style-type: none;
    padding-left: 0;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--title-color);
    transition: .6s;
}

.nav-icon, .nav-close, .nav-toggle {
    display: none;
}

/* ACTIVE LINK */
.active-link, .nav-link:hover {
    color: var(--title-color-dark);
}

/* CHANGE HEADER */
.scroll-header {
    box-shadow: 0 1px 4px rgba(0,0,0,0.15);
}

/* BREAK POINTS */
@media screen and (max-width: 768px) {
    .nav {
        height:3rem;
    }

    .nav-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 0rem 2rem;
        box-shadow: 0 10px 24px rgba(0,0,0,0.15);
        border-radius: 0 0 2rem 2rem;
        transition: 0.5s;
        display: none;
    }

    .show-menu {
        display: block;
    }

    .nav-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        padding: 0 1.5rem 0 1.5rem;
    }

    .nav-icon {
        font-size: 1.2rem;
    }

    .nav-close {
        position: absolute;
        right: 1.3rem;
        bottom: .5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--title-color);
    }

    .nav-close:hover {
        color: var(--title-color-dark);
    }

    .nav-toggle {
        font-size: 1.1rem;
        cursor: pointer;
    }

    .nav-icon, .nav-close, .nav-toggle {
        display: block;
    }
}

@media screen and (max-width: 350px) {
    .nav-menu {
        padding: 2rem 0.25rem 2rem;
    }

    .nav-list {
        column-gap: 0;
    }
}